<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 작성</title>
<link th:href="@{/bootstrap3.2.2/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<form role="form" th:method="POST" th:action="'/user/userUpdate/'+${user.id}">
			<h2> 사용자 등록 </h2>
			<table class="table table-striped">
				
				<tr>
					
					<td>아이디</td>
					<td><input class="form-control" type="text" id ="id" name ="id" th:value="${user.id}" disabled="disabled"></td>
					
				</tr>
				<tr>
					
					<td>패스워드</td>
					<td><input class="form-control" type="text" id ="pw" name ="pw"th:value="${user.pw}"></td>
					
				</tr>
				<tr>
					
					<td>이름</td>
					<td><input class="form-control" type="text" id ="name" name ="name"th:value="${user.name}"></td>
					
				</tr>
				<tr>
					
					<td>이메일</td>
					<td><input class="form-control" type="text" id ="email" name ="email"th:value="${user.email}"></td>
					
				</tr>
				<tr>
					
					<td>권한</td>
					<td><input class="form-control" type="text" id ="role" name ="role"th:value="${user.role}"></td>
					
				</tr>
			</table>
			<input type = "submit" id = "submit" value = "수정" class="btn btn-success" >
			<a href="/user/userList" class="btn btn-primary">목록으로</a>
			<a href="/user/userDelete/" th:attrappend="href=${user.id}" class="btn btn-danger">삭제</a>
		</form>
			
			 
			
		
	</div>
	
	<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="bootstrap3.2.2/js/bootstrap.min.js"></script>
</body>
</html> 