<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 상세</title>
<link th:href="@{/bootstrap3.2.2/css/bootstrap.min.css}"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<h2>회원 상세</h2>
		<form id="frm" name="frm" method="post" action="">
			<table class="table table-striped">
			
				<caption>게시글 상세 내용</caption>
				<tbody>
					<tr>
						<th scope="row">ID</th>
						<td th:text="${member.memberid}"></td>
					</tr>
					<tr>
						<th scope="row">role</th>
						<td th:text="${member.role}"></td>
					</tr>
					<tr>
						<th scope="row">Name</th>
						<td th:text="${member.name}"></td>
					</tr>
					<tr>
						<th scope="row">join_date</th>
						<td th:text="${member.joindate}"></td>
					</tr>
					<tr>
						<th scope="row">Email</th>
						<td th:text="${member.email}"></td>
					</tr>
				</tbody>
			</table>

			<input type="hidden" name="memberid" th:value="${member.memberid}">
		</form>



		<input type="button" id="list" value="목록으로" class="btn btn-primary">
		<input type="button" id="edit" value="수정하기" class="btn btn-success">
		<input type="button" id="delete" value="삭제하기" class="btn btn-danger">

	</div>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#list").on("click", function() {
				location.href = "/member/memberList"
			});
			$("#edit").on("click", function() {
				var frm = $("#frm")[0];
				frm.action = "/member/memberUpdate"
				frm.submit()
			});
			$("#delete").on("click", function() {
				var frm = $("#frm")[0];
				frm.action = "/member/memberDelete"
				frm.submit()
			});
		});
	</script>

	<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<script src="bootstrap3.2.2/js/bootstrap.min.js"></script>
</body>
</html>
